body {
    display: grid;
    height: 100%;
    width: 100%;
    padding: 0%;
    grid-template-areas:
        'header header'
        'aside section'
        'footer footer';
    background-image: url("img/bakgrundsbild.png");
    grid-template-rows: auto 1fr auto;
}

header {
    text-align: center;
}

header {
    color: rgb(244, 244, 244);
    grid-area: header;
    text-align: center;
    padding: 4%;
}

section {
    grid-area: section;
    color: white;
    text-align: center;
    height: 50%;
    width: 50%;
    padding-left: 23%;
}

img {
    padding-left: 15%;
    width: 80%;
    height: 90%;
}

ul {
    text-align: center;
}

.content {
    flex-grow: 4;
    padding: 20px;
}

footer {
    grid-area: footer;
    text-align: center;
}

.rectangle {
    width: 200px;
    height: 20px;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

}

button {
    text-align: center;
    padding: 10px 20px;
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}